@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none !important;
}

.app {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: default;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.navbar li a {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.secondary-nav {
  display: flex;
  align-items: start;
  justify-content: start; 
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 29, 29);
  gap: 10px;
  padding: 20px;
}

.box {
  display: flex;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex; 
  flex-direction: column;
  width: 270px;
  font-family: 'Hind', sans-serif;
}

.product img {
  border-radius: 5px;
  height: 270px;
  object-fit: cover;
}

.link-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.link-product img {
  width: 270px;

}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.brand {
  font-size: 0.7rem;
}

.name {
  font-size: 0.9rem;
}

.price-box {
  display: flex;
  gap: 20px;
}

.old-price {
  text-decoration: line-through;
  color: rgb(226, 178, 178);
}

.new-price {
  color: rgb(255, 255, 255);
}

.sell-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.905);
}

.form-cad {
  display: flex;
  padding: 10px;
  gap: 5px;
  flex-direction: column;
  width: 350px;
  justify-content: center;
}

.prices-inputs {
  display: flex;
  gap: 3px;
  padding: 20px;
  flex-direction: column;
}

.sell-button {
  padding: 5px 10px;
  background-color: transparent;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.all-products {
  padding: 5px 10px;
  background-color: transparent;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}